.mainContent {
  display: flex;
  gap: 4rem;
  align-items: flex-start;
}

.formPanel {
  width: 320px;

  background: var(--secondary);
  padding: 1.5rem;
  gap: 9rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.listPanel {
  flex: 1;

  background: var(--secondary);
  padding: 1.5rem;
  gap: 8rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
@media (max-width: 768px) {
  .mainContent {
    flex-direction: column;
  }

  .formPanel,
  .listPanel {
    width: 100%;
    box-sizing: border-box;
  }
}
